<template>
  <div class="connect-4-container">
    <h1>Connect 4 Battle</h1>
    <router-link to="/connect-4">Back</router-link>
    <div v-if="!loading">
      <div style="margin-bottom: 6px">
      <span
        :class="player"
        style="padding: 13px 12px 16px 0; border-radius: 40px"
      >
        <v-avatar>
          <img :src="me.profileImage" :alt="me.surname"/>
        </v-avatar>
        {{ me.firstName }} {{ me.surname }}</span
      >
        vs
        <span
          :class="player === 'red' ? 'blue' : 'red'"
          style="padding: 13px 6px 16px 0; border-radius: 40px"
        >
        <v-avatar>
          <img :src="opposition.profileImage" :alt="opposition.surname"/>
        </v-avatar>
        {{ opposition.firstName }} {{ opposition.surname }}
      </span>
      </div>

      <div v-if="winner" :class="`turn ${winner}`">
        {{ getWinner() }}
      </div>
      <div
        v-else
        :class="`turn ${!playing && playerTurn ? playerTurn : 'green'}`"
      >
        <div>{{ getPlayingAction(playing, playerTurn, player) }}</div>
      </div>
      <div v-if="gameOver"></div>
      <div class="c4-container">
        <div class="c4-game">
          <div
            class="c4-column"
            v-for="(c, i) in columns"
            :key="i"
            @click="dropCoin(c)"
          >
            <div
              v-for="(r, ii) in rows"
              :key="`${i}-${ii}`"
              class="c4-block"
              :class="{ 'c4-hide-block': r === 0 }"
            >
              <div
                v-if="cells[`${r}-${c}`].value"
                class="coin"
                :class="[cells[`${r}-${c}`].value]"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import GameLandingPage from '@/components/GameLandingPage.vue'
import {ConnectService} from '@/core/services/connect.service'
import {AuthService} from '@/core/services/auth.service'
import {User} from '@/core/interfaces/user.interface'
import {authState} from '@/core/stores/auth.store'
import {friendsStore} from '@/core/stores/friends.store'
import {Game} from "@/core/interfaces/game.interface";

const service = new ConnectService()
const auth = new AuthService()

interface CFLData {
  game: Game
  columns: string[]
  rows: number[]
  cells: any
  me: User
  opposition: User
  playerTurn: 'red' | 'blue'
  gameOver: boolean
  winner: '' | 'red' | 'blue'
  player: 'red' | 'blue'
  playing: boolean
  loading: boolean
}

export default Vue.extend({
  name: 'ConnectFour',
  components: {},
  data() {
    return {
      game: {},
      columns: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
      rows: [0, 1, 2, 3, 4, 5, 6, 7],
      cells: {},
      playerTurn: 'red',
      gameOver: false,
      winner: '',
      player: 'red',
      playing: true,
      loading: true,
      me: {},
      opposition: {}
    } as CFLData
  },
  mounted: async function () {
    const game = await service.get(this.$route.params.id as string)
    this.game = game.data as Game
    this.game.game.forEach((cell: any) => {
      if (this.game.lastMove && cell._id === this.game.lastMove._id) {
        this.cells[cell.key] = {
          _id: cell._id,
          value: null,
          key: cell.key
        }
      } else this.cells[cell.key] = cell
    })
    this.player = this.getPlayerColor()

    // console.log(emails)
    const users = await auth.getUsers([
      this.game.playerOne,
      this.game.playerTwo
    ])
    console.log(users)
    if (this.game.playerOneColor === this.player)
      this.setPlayers(this.game.playerOne, this.game.playerTwo, users.data)
    else this.setPlayers(this.game.playerTwo, this.game.playerOne, users.data)

    if (this.game.lastMove) {
      this.playerTurn = this.game.lastMove.value as 'red' | 'blue'
      const keySplit: string[] = this.game.lastMove.key.split('-')
      setTimeout(() => this.dropCoin(keySplit[1], true, true), 1000)
      setTimeout(() => {
        this.playing = false
        this.playerTurn = this.color()
      }, 2500)
    } else {
      this.playerTurn = 'blue'
      this.playing = false
    }

    this.loading = false

    setInterval(async () => {
      if (this.getPlayerColor() !== this.playerTurn) {
        const lastTurn: any = await service.getLastTurn(this.game._id)
        if (lastTurn && lastTurn.data.lastMove._id !== this.game.lastMove._id) {
          this.game.lastMove = lastTurn.data.lastMove
          const keySplitLastMove: string[] = this.game.lastMove.key.split('-')
          this.dropCoin(keySplitLastMove[1], true, true)
          setTimeout(() => {
            this.playerTurn = this.playerTurn === 'red' ? 'blue' : 'red'
            this.playing = false
          }, 2500)
        }
      }
    }, 10000) // TODO - request every minute -> must be a better way to do this.
  },
  methods: {
    setPlayers(me: string, opposition: string, users: User[]): void {
      if (users[0].email === me) {
        this.me = users[0]
        this.opposition = users[1]
      } else {
        this.me = users[1]
        this.opposition = users[0]
      }
    },
    color() {
      return this.game.lastMove.value === 'blue' ? 'red' : 'blue'
    },
    getPlayerColor(): 'red' | 'blue' {
      const user = this.user as User
      if (user.email === this.game.playerOne) {
        return this.game.playerOneColor as 'red' | 'blue'
      } else {
        return this.game.playerTwoColor as 'red' | 'blue'
      }
    },
    checkPlayer(): boolean {
      const user = this.user as User
      if (user.email === this.game.playerOne) {
        if (this.game.playerOneColor === this.playerTurn) {
          return true
        }
      } else {
        if (this.game.playerTwoColor === this.playerTurn) {
          return true
        }
      }
      return false
    },
    dropCoin(c: string, forcePlay?: boolean, dontSave?: boolean) {
      if (!this.winner && (this.checkPlayer() || forcePlay)) {
        const row = 0
        if (!this.getCell(c, row).value) {
          this.playing = true
          this.cells[this.getKey(c, row)].value = true
          this.moveDown(c, row, dontSave)
        }
      }
    },
    async endTurn(dontSave?: boolean) {
      this.checkGame()
      if (!dontSave) {
        this.game.game = Object.keys(this.cells).map(
          (key: string) => this.cells[key]
        )
        this.playerTurn = this.playerTurn === 'red' ? 'blue' : 'red'
        const resp = await service.turn({
          cell: this.game.lastMove,
          gameId: this.game._id
        })
        if (!this.game.winner && this.winner) {
          const winGame = await service.win(
            this.game._id,
            this.winner === 'red'
              ? this.game.playerOne
              : this.game.playerTwo
          )
        }
        this.playing = false
      }
    },
    checkGame() {
      //move check from left ot right, then down and repeat!
      this.rows.forEach((r: number) => {
        this.columns.forEach((c: string, ci: number) => {
          this.checkCell(c, ci, r)
          // const gameWon = this.checkCell(c, r)
        })
      })
    },
    checkCell(c: string, ci: number, r: number) {
      if (this.getCell(c, r) && this.getCell(c, r).value) {
        const color = this.getCell(c, r).value
        this.checkDL(ci, r, color)
        this.checkD(c, r, color)
        this.checkDR(ci, r, color)
        this.checkL(ci, r, color)
        //check r
      }
      return false
    },
    checkDR(ci: number, r: number, color: string) {
      let matches = 1
      for (let i = 1; i < 4; i++) {
        if (
          this.getCell(this.columns[ci + i], r + i) &&
          this.getCell(this.columns[ci + i], r + i).value
        ) {
          if (this.getCell(this.columns[ci + i], r + i).value === color)
            matches += 1
        }
      }
      if (matches >= 4) {
        this.gameOver = true
        this.winner = color as 'red' | 'blue'
      }
    },
    checkL(ci: number, r: number, color: string) {
      let matches = 1
      for (let i = 1; i < 4; i++) {
        if (
          this.getCell(this.columns[ci + i], r) &&
          this.getCell(this.columns[ci + i], r).value
        ) {
          if (this.getCell(this.columns[ci + i], r).value === color)
            matches += 1
        }
      }
      if (matches >= 4) {
        this.gameOver = true
        this.winner = color as 'red' | 'blue'
      }
    },
    checkDL(ci: number, r: number, color: string) {
      let matches = 1
      for (let i = 1; i < 4; i++) {
        if (
          this.getCell(this.columns[ci - i], r + i) &&
          this.getCell(this.columns[ci - i], r + i).value
        ) {
          if (this.getCell(this.columns[ci - i], r + i).value === color)
            matches += 1
        }
      }
      if (matches >= 4) {
        this.gameOver = true
        this.winner = color as 'red' | 'blue'
      }
    },
    checkD(c: string, r: number, color: string) {
      let matches = 1
      for (let i = 1; i < 4; i++) {
        if (this.getCell(c, r + i) && this.getCell(c, r + i).value) {
          if (this.getCell(c, r + i).value === color) matches += 1
        }
      }
      if (matches >= 4) {
        this.gameOver = true
        this.winner = color as 'red' | 'blue'
      }
    },
    getKey(c: string, r: number) {
      return `${r}-${c}`
    },
    getCell(c: string, r: number) {
      if (c && r > -1 && r < 8) {
        return this.cells[this.getKey(c, r)]
      } else {
        return null
      }
    },
    moveDown(c: string, r: number, dontSave?: boolean) {
      if (this.getCell(c, r + 1) && !this.getCell(c, r + 1).value) {
        const self = this as any
        setTimeout(() => {
          self.cells[this.getKey(c, r)].value = null
          self.cells[this.getKey(c, r + 1)].value = this.playerTurn
          if (r + 2 <= 7 && !self.getCell(c, r + 2).value) {
            self.moveDown(c, r + 1, dontSave)
          } else {
            if (!dontSave) this.game.lastMove = this.getCell(c, r + 1)
            self.endTurn(dontSave)
          }
        }, 150)
      }
    },
    getPlayingAction(playing: boolean, turn: string, player: string): string {
      return playing
        ? 'Coin dropping'
        : turn == player
          ? 'Its your turn'
          : `${this.opposition.firstName} to play`
    },
    getWinner() {
      return this.winner === this.player
        ? `You win! You slapped the smile off ${this.opposition.firstName}`
        : `${this.opposition.firstName} wins... You've been slapped!`
    }
  },
  computed: {
    user(): User | undefined {
      return authState.auth.user
    }
  }
})
</script>

<style scoped lang="scss">
.connect-4-container {
  max-width: 400px;
}

.turn {
  width: 100%;
  padding: $spacer * 2;
  border-radius: 40px;
}

.c4-container {
  width: 100%;
  height: 400px;
  overflow: scroll;

  .c4-game {
    width: 400px;

    .c4-column {
      width: 50px;
      float: left;
    }

    .c4-column:hover {
      background: #757763;
      cursor: pointer;
    }

    .c4-block {
      width: 50px;
      height: 50px;
      border: 1px solid white;

      .coin {
        width: 48px;
        height: 48px;
        position: relative;
        top: 0;
        border-radius: 25px;
        animation-name: example;
        animation-duration: 150ms;
        animation-timing-function: linear;
      }
    }

    .c4-hide-block {
      border: none;
    }
  }
}

@keyframes example {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
</style>
