<template>
  <div>
    <game-landing-page
      title="Games"
      :games="games"
      :loading="loading"
      @play-game="startGame($event)"
      redirect="connect-4"
    />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import GameLandingPage from '@/components/GameLandingPage.vue'
import { ConnectService } from '@/core/services/connect.service'
import { Response } from '@/core/interfaces/response.interface'
import { FriendsListItem } from '@/components/FriendsList.vue'
import {Game} from "@/core/interfaces/game.interface";

const service = new ConnectService()

export default Vue.extend({
  name: 'ConnectFourLanding',
  components: {
    GameLandingPage
  },
  data() {
    return {
      games: [] as Game[],
      loading: true
    }
  },
  mounted: async function() {
    const game = await service.list()
    this.games = game.data as Game[]
    this.loading = false
  },
  methods: {
    color(game: Game) {
      return game.lastMove.value === 'blue' ? 'red' : 'blue'
    },
    async startGame(friend: FriendsListItem) {
      try {
        const newGame: Response<Game, null> = await service.create(
          friend.email as string
        )
        await this.$router.push(`connect-4/${newGame.data._id}`)
      } catch (e) {
        console.log(e)
      }
    }
  }
})
</script>
