// Overwrite variables here...

.view{
  height: 100vh;
  height: -webkit-calc(100vh - 82px);
  height: expression(100vh - 82px);
  height: -moz-calc(100vh - 82px);
  height: -o-calc(100vh - 82px);
  height: calc(100vh - 82px);
}
