<template>
  <div>
    <v-navigation-drawer class="hidden-xs-only" fixed permanent width="200px">
      <Nav />
    </v-navigation-drawer>
    <v-navigation-drawer
      class="hidden-sm-and-up"
      v-model="drawer"
      absolute
      temporary
      width="200px"
    >
      <Nav />
    </v-navigation-drawer>
    <div class="main">
      <v-app-bar color="primary" dense dark>
        <v-app-bar-nav-icon
          class="hidden-sm-and-up"
          @click.stop="drawer = !drawer"
        ></v-app-bar-nav-icon>

        <v-toolbar-title>{{ pageTitle }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list>
              <v-list-item @click="navigate('profile')">
                <v-list-item-title>Profile</v-list-item-title>
              </v-list-item>
            <v-divider />
            <v-list-item @click="logout">
              <v-list-item-title>Log out</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>
      <v-sheet class="main-view">
        <router-view />
      </v-sheet>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Nav from '@/components/Nav.vue'
import { AuthService } from '@/core/services/auth.service'
import { FriendService } from '@/core/services/friends.service'

const auth: AuthService = new AuthService()
const friends: FriendService = new FriendService()

export default Vue.extend({
  name: 'Shell',
  components: {
    Nav
  },
  data() {
    return {
      drawer: false,
      group: null,
      isMobile: false,
      auth: false
    }
  },
  methods: {
    logout(): void {
      auth.logout()
      this.$router.push('/login')
    },
    navigate(path: string): void {
      this.$router.push(`/${path}`)
    }
  },
  computed: {
    pageTitle() {
      return this.$route.name
    }
  }
})
</script>
<style lang="scss">
.main {
  padding-left: 200px;
}

.main-view{
  max-width: 700px;
  padding: $spacer*4;
}

.nav-main {
  margin-left: 200px;
}

@media only screen and (max-width: 600px) {
  .main {
    padding-left: 0;
  }

  .nav-main {
    margin-left: 0;
  }
}
</style>
