<template>
  <div class="verify">
    <div v-if="verifying">Verifying your account...</div>
    <div v-else>
      You account has successfully been set up!
      <router-link to="/">Go to Feed</router-link>
    </div>
  </div>
</template>
<script lang="ts">
import { AuthService } from '@/core/services/auth.service'
import Vue from 'vue'

const auth: AuthService = new AuthService()

export default Vue.extend({
  name: 'Verify',
  components: {},
  data() {
    return {
      verifying: true
    }
  },
  async mounted() {
    const token: string = this.$route.params.token as string
    const verify = await auth.verify(token)
    if (verify) this.verifying = false
  }
})
</script>

<style lang="scss"></style>
