<template>
  <v-sheet class="view">
    <template v-if="!loading">
      <v-row no-gutters>
        <v-col cols="12" md="6" class="pa-4">
          <h3>My Friends</h3>
          <friends-list :items="friendsList" />
        </v-col>

        <v-col cols="12" md="6" class="pa-4">
          <h3>Friend Requests</h3>
          <input-action-bar @response="invited" />
          <friends-list :items="inviteList" />
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </template>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import FriendsList, { FriendsListItem } from '@/components/FriendsList.vue'
import InputActionBar from '@/components/InputActionBar.vue'
import { FriendService } from '@/core/services/friends.service'
import { Friend, User } from '@/core/interfaces/user.interface' // @ is an alias to /src
import { Response } from '@/core/interfaces/response.interface'

const friendService = new FriendService()

export default Vue.extend({
  name: 'Home',
  components: {
    FriendsList,
    InputActionBar
  },
  data() {
    return {
      friends: [] as Friend[],
      users: {} as { [key: string]: User },
      loading: true as boolean
    }
  },
  async mounted() {
    const resp: {
      friends: Friend[]
      users: {
        [email: string]: User
      }
    } = await this.$friends.populate()

    this.friends = resp.friends
    console.log(this.friends)
    this.users = resp.users

    this.loading = false
  },
  methods: {
    invited(invited: Friend) {
      this.friends.push(invited)
    },
    async accept(id: string): Promise<void> {
      const accept: Response<Friend, {}> = await friendService.accept(id)
      if (accept.error) {
        this.$snackbar.push(accept.msg, 'error')
      } else {
        this.friends = this.friends.map((f: Friend) => {
          if (f._id === id) {
            f.userAccepted = true
          }
          return f
        })
      }
    }
  },
  computed: {
    friendsList(): FriendsListItem[] {
      const items: FriendsListItem[] = []
      this.friends.forEach((f: Friend) => {
        if (f.friendAccepted && f.userAccepted) {
          items.push({
            id: f._id as string,
            avatar: this.users[f.friendEmail].profileImage,
            title: `${this.users[f.friendEmail].firstName} ${
              this.users[f.friendEmail].surname
            }`,
            subtitle: `<span class="text--primary">Date</span>`,
            options: true
          })
        }
      })
      return items
    },
    inviteList(): FriendsListItem[] {
      const items: FriendsListItem[] = []
      this.friends.forEach((f: Friend) => {
        if (!f.friendAccepted) {
          items.push({
            id: f._id as string,
            title: f.friendEmail,
            subtitle: `<span class="text--primary">Waiting</span> &mdash; This user has not accepted your friend request yet`
          })
        }
        if (!f.userAccepted) {
          items.push({
            id: f._id as string,
            avatar: this.users[f.friendEmail].profileImage,
            title: `${this.users[f.friendEmail].firstName} ${
              this.users[f.friendEmail].surname
            }`,
            subtitle: `<span class="text--primary">Friend request!</span> &mdash; ${
              this.users[f.friendEmail].firstName
            } wants to be your friend`,
            action: {
              label: 'Accept Invite',
              click: (id: string) => this.accept(id)
            }
          })
        }
      })
      return items
    }
  }
})
</script>
