<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <template v-for="(f, i) in loopFields()">
      <v-text-field
        outlined
        :key="i"
        :type="f.type"
        v-model="data[f.field]"
        :rules="f.rules ? f.rules : null"
        :label="f.label"
        :required="f.required"
      ></v-text-field>
    </template>

    <v-btn
      v-if="submit"
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate"
    >
      Validate
    </v-btn>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'FormBuilder',
  props: {
    fields: Object,
    data: Object,
    submit: Boolean,
    allowValidation: Boolean
  },
  data: () => ({
    valid: true,
    name: '',
    nameRules: [
      (v: string) => !!v || 'Name is required',
      (v: string) =>
        (v && v.length <= 10) || 'Name must be less than 10 characters'
    ],
    email: '',
    emailRules: [
      (v: string) => !!v || 'E-mail is required',
      (v: string) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    select: null,
    items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
    checkbox: false
  }),
  watch: {
    data: {
      deep: true,
      handler() {
        if (!this.allowValidation) {
          ;(this.$refs.form as Vue & {
            resetValidation: Function
          }).resetValidation()
        }
        this.$emit('update-data', this.data)
      }
    },
    valid() {
      this.$emit('check-validated', this.valid)
    }
  },
  methods: {
    validate() {
      ;(this.$refs.form as Vue & { validate: () => boolean }).validate()
    },
    loopFields() {
      return Object.keys(this.fields).map((k: string) => this.fields[k])
    }
  }
})
</script>
