<template>
  <v-card max-width="450" class="mx-auto">
    <template v-if="items && items.length > 0">
      <v-list three-line color="secondary">
        <v-subheader v-if="header" v-text="header"></v-subheader>
        <v-divider v-if="header" inset></v-divider>
        <template v-for="(item, i) in items">
          <v-list-item :key="item.title">
            <v-list-item-avatar v-if="item.avatar">
              <v-img :src="item.avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-html="item.title"></v-list-item-title>
              <v-list-item-subtitle
                v-html="item.subtitle"
              ></v-list-item-subtitle>
              <v-btn
                v-if="item.action"
                color="success"
                @click="item.action.click(item.id)"
                >{{ item.action.label }}
              </v-btn>
            </v-list-item-content>

            <v-list-item-action v-if="item.options">
              <v-menu left bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list dense>
                  <v-subheader>Play a game of:</v-subheader>
                  <v-list-item
                    v-for="(g, i) in games"
                    :key="i"
                    @click="() => {}"
                  >
                    <v-list-item-title>{{ g.label }}</v-list-item-title>
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item>
                    <v-list-item-title>Remove Friend</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-list-item-action>
          </v-list-item>
          <v-divider :key="i" inset></v-divider>
        </template>
      </v-list>
    </template>
    <template v-else>
      Invite some friends to play against
    </template>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export interface FriendsListItem {
  id: string
  avatar?: string
  title: string
  subtitle?: string
  options?: boolean
  action?: {
    label: string
    click: (id: string) => void
  }
}

export default Vue.extend({
  name: 'FriendsList',
  props: {
    header: String,
    items: Array as () => FriendsListItem[]
  },
  data: () => ({
    games: [
      { label: 'Connect4' },
      { label: 'Drafts' },
      { label: 'BattleShips' },
      { label: 'Chess' }
    ]
  }),
  watch: {},
  methods: {}
})
</script>
