<template>
  <div>
    <h1>{{ title }}</h1>
    <v-row>
      <v-col>
        <template v-if="!loading">
          <v-list three-line color="secondary">
            <v-subheader v-text="'My Games'"></v-subheader>
            <v-divider></v-divider>
            <template v-for="(g, i) in games">
              <v-list-item :key="`game-${i}`">
                <template v-if="users[getOpposition(g)]">
                  <v-list-item-avatar>
                    <v-img :src="users[getOpposition(g)].profileImage"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="`${users[getOpposition(g)].firstName} ${users[getOpposition(g)].surname}`"
                    ></v-list-item-title>
                    <template v-if="!g.winner">
                      <v-list-item-subtitle
                        v-html="getPlayerTurn(g) ? 'Its your turn' : 'Waiting for opposition'"></v-list-item-subtitle>
                      <v-btn :color="getPlayerTurn(g) ? 'success' : 'info'" @click="navigate(g)">
                        {{ getPlayerTurn(g) ? 'Take Turn' : 'View Game' }}
                      </v-btn>
                    </template>
                    <template v-else>
                      {{getWinner(g)}}
                    </template>
                  </v-list-item-content>
                </template>
              </v-list-item>
              <v-divider :key="i" inset></v-divider>
            </template>
            <v-divider></v-divider>
          </v-list>
        </template>
        <template v-else>
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </template>
      </v-col>
      <v-col>
        <template v-if="!friendsLoading">
          <friends-list
            header="Friends"
            :items="friends"
            :play-game="true"
            @start-game="startGame($event)"
          />
        </template>
        <template v-else>
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </template>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {User} from '@/core/interfaces/user.interface'
import FriendsList, {FriendsListItem} from '@/components/FriendsList.vue'
import {Game} from "@/core/interfaces/game.interface";

export default Vue.extend({
  name: 'GameLandingPage',
  components: {FriendsList},
  props: {
    title: String,
    loading: Boolean,
    games: Array as () => Game[],
    redirect: String
  },
  data: () => ({
    friendsLoading: true,
    friends: [] as FriendsListItem[],
    users: {} as { [email: string]: User }
  }),
  async mounted() {
    const resp: {
      friendList: FriendsListItem[]
      users: {
        [email: string]: User
      }
    } = await this.$friends.getFriends()
    this.friends = resp.friendList
    this.users = resp.users
    this.friendsLoading = false
  },
  watch: {},
  methods: {
    navigate(game: Game): void {
      this.$router.push(`${this.redirect}/${game._id}`)
    },
    startGame(friend: FriendsListItem): void {
      this.$emit('play-game', friend)
    },
    getOpposition(game: Game): string {
      return this.$auth.auth.user?.email === game.playerOne ? game.playerTwo : game.playerOne
    },
    getPlayerTurn(game: Game): boolean {
      const playerColour: string =
        this.$auth.auth.user?.email === game.playerOne
          ? game.playerOneColor
          : game.playerTwoColor

      return playerColour !== game.lastMove.value
    },
    getWinner(g: Game): string {
      if(this.$auth.auth.user?.email === g.winner){
        return 'You won this game!'
      } else {
        const winner: User = this.users[this.getOpposition(g)]
        return `${winner.firstName} won this game.`
      }
    }
  }
})
</script>
