<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      append-outer-icon="mdi-send"
      prepend-inner-icon="mdi-email"
      filled
      clear-icon="mdi-close-circle"
      clearable
      label="Send Email Invite"
      placeholder="Type email address"
      type="text"
      :loading="loading"
      @click:append-outer="sendMessage"
    ></v-text-field>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { FriendService } from '@/core/services/friends.service'
import { Response } from '@/core/interfaces/response.interface'
import { Friend } from '@/core/interfaces/user.interface'

const friendsService = new FriendService()

export default Vue.extend({
  name: 'InputActionBar',
  props: {},
  data: () => ({
    valid: true,
    loading: false,
    emailRules: [
      (v: string) =>
        /.+@.+\..+/.test(v) || !!v || v.length === 0 || 'Not valid email'
    ],
    email: '',
    marker: true
  }),
  watch: {
    email() {
      ;(this.$refs.form as Vue & {
        resetValidation: Function
      }).resetValidation()
    }
  },
  methods: {
    async sendMessage() {
      if (this.email) {
        ;(this.$refs.form as Vue & {
          validate: Function
        }).validate()
        this.loading = true
        if (this.valid) {
          try {
            const invite: Response<Friend, null> = await friendsService.invite(
              this.email
            )
            this.$snackbar.push(`Invite sent to ${this.email}`, 'success')
            this.$emit('response', invite.data)
            this.email = ''
            this.loading = false
          } catch (e) {
            console.log(e)
          }
        }
      }
    }
  }
})
</script>
