<template>
  <v-img
    gradient="to top right, rgba(0,0,0,.4), rgba(0,0,0,1)"
    height="100vh"
    src="https://picsum.photos/1920/1080?random"
  >
    <v-list-item v-if="user">
      <v-list-item-avatar>
        <v-img :src="user.profileImage"></v-img>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title
          >{{ user.firstName }} {{ user.surname }}</v-list-item-title
        >
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>
    <v-list flat dense>
      <v-list-item-group v-model="active" color="primary">
        <template v-for="(r, i) in items">
          <v-list-item
            v-if="!r.children"
            :key="i"
            :class="{ 'v-list-item--active': r.active }"
            @click="redirect(r.path)"
          >
            <v-list-item-icon>
              <v-icon v-text="r.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="r.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-group
            v-if="r.children"
            :key="r.title"
            :prepend-icon="r.icon"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title v-text="r.title"></v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="child in r.children"
              :key="child.title"
              @click="redirect(child.path)"
              link
            >
              <v-list-item-content>
                <v-list-item-title v-text="child.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </template>
      </v-list-item-group>
    </v-list>
  </v-img>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '@/core/interfaces/user.interface'

export default Vue.extend({
  name: 'Nav',
  data: () => ({
    user: null as User | null,
    items: [
      { title: 'Home', icon: 'mdi-view-dashboard', path: '/' },
      { title: 'Friends', icon: 'mdi-account-group', path: '/friends' },
      {
        icon: 'mdi-gamepad-circle',
        children: [
          { title: 'Connect4', path: '/connect-4' },
          { title: 'More coming...', path: '/coming' }
        ],
        title: 'Games'
      }
    ],
    active: 0
  }),
  mounted() {
    this.user = this.$auth.auth.user as User
  },
  methods: {
    redirect(path: string) {
      if (path && path !== this.$route.path) {
        this.$router.push({ path })
      }
    }
  }
})
</script>
