<template>
  <v-sheet class="view">
    <v-card
      color="secondary"
      elevation="10"
    >
      <template v-if="!loading">
        <v-card-title>Profile Image</v-card-title>
        <v-card-text>
          <v-avatar
            tile
            size="100"
          >
            <img :src="profileUser.profileImage" :alt="profileUser.surname"/>
          </v-avatar>
          <br>
          <upload-file @uploaded="uploaded($event)"/>
        </v-card-text>
        <v-card-title>Basic Info</v-card-title>
        <v-card-text>
          <FormBuilder
            v-if="!message"
            :fields="profileForm"
            :data="profileUser"
            @check-validated="validated = $event"
          />
          <p v-else>
            {{ signUpMessage }}
          </p>
        </v-card-text>

        <v-card-actions>
          <div>
            <v-btn
              class="pl-2"
              block
              color="primary"
              :loading="isLoading"
            >
              Update
            </v-btn>
          </div>

          <v-spacer></v-spacer>
        </v-card-actions>
      </template>
      <template v-else>
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </template>
    </v-card>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import {User} from '@/core/interfaces/user.interface'
import FormBuilder from '@/components/FormBuilder.vue'
import UploadFile from '@/components/UploadFile.vue'

export default Vue.extend({
  name: 'Profile',
  components: {FormBuilder, UploadFile},
  data() {
    return {
      loading: true,
      isLoading: false,
      validated: null,
      isSubmitted: false,
      message: '',
      profileUser: {
        firstName: '',
        surname: '',
        email: '',
        profileImage: '',
      } as User,
      profileForm: {
        0: {
          type: 'text',
          field: 'firstName',
          required: true,
          rules: [(v: string) => !!v || 'Name is required'],
          label: 'First Name'
        },
        1: {
          type: 'text',
          field: 'surname',
          required: true,
          rules: [(v: string) => !!v || 'Surname is required'],
          label: 'Surname'
        },
        2: {
          type: 'text',
          field: 'email',
          required: true,
          rules: [
            (v: string) => !!v || 'E-mail is required',
            (v: string) => /.+@.+\..+/.test(v) || 'E-mail must be valid'
          ],
          label: 'Email'
        }
      },
    }
  },
  mounted() {
    this.profileUser = this.$auth.auth.user as User
    this.loading = false
  },
  methods: {
    uploaded(uploaded: string): void {
      this.profileUser.profileImage = uploaded
    }
  }
})
</script>
