<template>
  <v-app>
    <router-view />
    <template v-if="snackbar && snackbar.length > 0">
      <v-snackbar
        shaped
        v-for="(snack, i) in snackbar"
        v-model="view"
        :key="i"
        :color="snack.type"
      >
        {{ snack.msg }}
      </v-snackbar>
    </template>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'App',

  mounted() {
    this.snackbar = this.$snackbar.messages
  },

  data: () => ({
    snackbar: null,
    view: true
  })
})
</script>
